<div>
        <img class="imageproject" src="../images/nautilus.png" alt="" />
        </div>
        <div class="background2">
            <div class="column2">
                <div class="underblock">
                    <div class="auteur">Richard Prasomsouk</div>
                    <div class="lepluslu">Le plus regardé</div>
                    <div class="titre">
                        Speed Run RPG Textuel !
                        <div class="readingTime">
                            <div class="Time">
                                <div>7 minutes</div>
                                <img src="../images/timer.svg" alt="timer">
                            </div>
                        </div>
                    </div>
                    <div class="texte">
                        Richard a réalisé un exploit impressionnant en créant son propre RPG textuel en seulement 32 minutes.
                         Son speed run de développement a démontré sa maîtrise des concepts de jeu et de la programmation,
                          mettant en lumière sa capacité à produire rapidement des expériences interactives captivantes.
                           Un véritable tour de force en matière de développement de jeux.
                    </div>
                </div>
                <div class="CTA">
                <a href="http://localhost/Yearbook/public/index.php/content"
                  <button class="Dec">Découvrir</button>
                </a>
                </div>
            </div>
        </div>
    </section>
    <section>