  <body>
    <div class="container {%if reversed_order %} reversed_order {% endif %}">
      <!-- class case permet de contenir un bloc photo sur 
      la gauche et un autre titre sur la droite -->
      <div class="case">
        <img class="image" src="../images/Brontis.png" alt="" />
        <div class="auteur">{{ author }}</div>
      </div>
      <!-- class case permet de contenir un bloc titre et description -->
      <div class="case">
        <div class="title">
          La veille technologique : l'arme secrète des développeurs à succès !
        </div>
        <p class="textbody">
         
          Plongez dans le monde en constante mutation de la technologie et
          découvrez pourquoi la veille informatique est un atout indispensable
          pour les développeurs ! Au fil de cet article, nous explorerons
          l'importance de la veille informatique, ce qu'elle implique pour les
          développeurs, les meilleures pratiques pour la mener à bien et les
          pièges à éviter.
        </p>
        <a class="CTA2" href="{{ path('content') }}">
          <button class="Dec2">Lire l'article</button>
        </a>
      </div>
    </div>
  </body>
</html>