<body>
    <section>
        <!-- filtres -->
        <div class="filtres">
            <button class="element">Tout</button>
            <button class="element">Design</button>
            <button class="element">Tech</button>
            <button class="element">Motion design</button>
            <button class="element">Marketing</button>
            <button class="element">Plus récents</button>
            <button class="element">Temps estimé</button>
        </div>
    </section>
</body>
</html>