

<div>    
    <img src="../images/08_full 1.png" alt="" class="image">
    <section>
        <div class="auteur">Julien Da Silva</div>
        <div class="info">
            <div class="title">La veille technologique : l'arme secrète des développeurs à succès !</div>
            <div class="button">
                <img src="../images/Group 269.svg" />
            </div>
        </div>
        <div class="description">Plongez dans le monde en constante mutation de la technologie et découvrez pourquoi
            la veille informatique est un atout indispensable pour les développeurs ! Au fil de cet article, nous
            explorerons l'importance de la veille informatique, ce qu'elle implique pour les développeurs, les
            meilleures pratiques pour la mener à bien et les pièges à éviter.
        </div>
        <div class="section_article">
            <!--article-->
            <div class="titre_article">La veille technolique démystifiée</div>
            <div class="article">Il existe plusieurs types de veille, tels que la veille technologique, la veille
                concurrentielle, la veille commerciale et la veille de l'e-réputation.<br>
                La veille technologique, apparue à la fin des années 80, vise à s’informer et se former sur les avancées
                technologiques et les innovations du numérique. Cette pratique implique de consulter régulièrement
                diverses sources d'information liées aux domaines qui nous intéressent, comme des blogs, newsletters,
                podcasts et autres que nous étudierons plus loin dans cet article. Vu la rapidité avec laquelle la
                technologie évolue, on peut même se demander si les développeurs prennent des congés !</div>
            <div class="titre_article">Pourquoi chaque développeur devrait maîtriser la veille technologique ?</div>
            <div class="article">La veille technologique aide les devs à perfectionner leurs compétences actuelles, tout
                en découvrant de nouvelles technologies pour rester à la pointe. Les langages, frameworks et outils
                évoluent rapidement et il est crucial pour eux de suivre cette évolution.<br>
                La veille permet aux développeurs de résoudre des problèmes plus rapidement en s'appuyant sur
                l'expérience des autres et d'être plus efficaces dans leur développement : en connaissant les dernières
                fonctionnalités de leur framework préféré. Elle évite de prendre des décisions fondées sur des
                informations obsolètes ou de réinventer la roue lorsqu'on ignore l'existence de l'outil qui pourrait
                faire gagner des jours de travail. En tirant parti de l'expérience et des outils créés par d'autres, les
                développeurs peuvent ainsi économiser un temps précieux.<br>
                Une veille technologique régulière favorise l’acquisition de nouvelles connaissances et compétences,
                permettant aux développeurs de devenir plus productifs, d’offrir de meilleurs conseils et d’améliorer
                leur carrière (et généralement le salaire qui va avec !).<br>
                C’est donc un excellent moyen de renforcer sa confiance en ses compétences pour celles et ceux qui
                souffrent du syndrome de l'imposteur, en multipliant ainsi les expériences vécues par procuration à
                travers (en lisant) les écrits d'autres confrères et consœurs. Cela aidera également lors des entretiens
                techniques où des questions sur la culture tech sont souvent posées.lors des entretiens techniques où
                des questions sur la culture tech sont souvent posées.<br>
                Pour les développeurs carriéristes, la veille est indispensable pour ne pas se retrouver dépassés,
                bloqués ou ralentis dans leur carrière, car c’est un long marathon qu'ils vont devoir parcourir pour
                rester attractifs auprès des entreprises et se démarquer lors des entretiens. Parfois amenés à évoluer
                vers des positions de management tels que CTO ou lead developer, la veille technologique leur permet
                d’être pluridisciplinaire, en quelque sorte le couteau suisse de leur équipe, procurant des années
                d'expérience et de veille avec eux.<br>
                Enfin, pour les jeunes diplômés, la veille technologique est essentielle, car ils ne pourront plus
                bénéficier de l'effervescence d'une classe - promo remplie de développeurs réunis en un même lieu et qui
                ne demande qu’à monter en compétence !</div>
        </div>
        <div class="quote-wrapper">
            <div class="quote">“Elle évite de prendre des décisions</div>
            <div class="quote end">fondées sur des informations obsolètes”</div>
        </div>
        <div class="images">
            <img src="../images/Rectangle 233.png" alt="">
            <img src="../images/Rectangle 233.png" alt="">
        </div>
        <div class="section_article">
            <div class="titre_article">L'art de la veille technologique : élaborer un plan d'action infaillible</div>
            <div class="article">Effectuer une veille technologique efficace requiert organisation et discipline.
                Voici cinq étapes pour mettre en place une veille réussie :
                <ul>
                    <li>Définir les objectifs : Identifiez clairement les domaines ou les sujets pour lesquels vous
                        souhaitez effectuer une veille. Cela vous aidera à concentrer vos efforts et à éviter de vous
                        disperser.</li>
                    <li>Identifier les sources d'information : Dressez une liste des sources d'information pertinentes
                        pourvotre veille, telles que celles des sites web d'actualités, blogs, réseaux sociaux,
                        newsletters,
                        podcasts, vidéos en ligne, livres blancs, conférences et événements.</li>
                    <li>Mettre en place des outils de veille : Utilisez-les pour automatiser la collecte et l'analyse
                        d'informations. Plusieurs outils, tels que les agrégateurs de contenu et les agrégateurs de flux
                        RSS, peuvent aider à filtrer et organiser les informations.</li>
                    <li>Créer une routine : Établissez une routine régulière pour effectuer votre veille technologique.
                        Planifiez du temps chaque jour ou chaque semaine pour consulter vos sources d'information et
                        analyser les données collectées.</li>
                    <li>Adapter et améliorer : La veille technologique doit être un processus continu et évolutif.
                        Vérifiez régulièrement vos sources, vos outils et vos méthodes pour vous assurer de leur
                        pertinence et de
                        leur efficacité.</li>
                </ul>
            </div>
            <div class="titre_article">L'art de la veille technologique : élaborer un plan d'action infaillible</div>
            <div class="article">Les agrégateurs - Ils simplifient le processus de veille en centralisant les
                informations provenant de diverses sources. On distingue principalement deux catégories d'agrégateurs :
                <ul>
                    <li>Les agrégateurs d’articles : qui rassemblent pour vous les articles tendances et ceux
                        susceptibles de
                        vous intéresser, tels que ycombinator, journalduhacker et hackernoon.</li>
                    <li>Les agrégateurs de flux RSS, qui permettent de consulter facilement des flux RSS provenant de
                        sources variées. Le RSS est un type de fichier spécifique dont le contenu est automatiquement
                        généré,
                        sauf quelques exceptions, en fonction des mises à jour d'un site web. Le RSS est disponible sur
                        la
                        grande majorité des sites web et blogs, et on le retrouve également sur YouTube pour recevoir
                        les
                        actualités d’une chaîne ou seulement d’une playlist. Il est même présent sur GitHub pour
                        recevoir des
                        notifications quand un projet déploie une nouvelle version. Les agrégateurs de flux RSS les plus
                        populaires
                        étant Feedly (freemium), Inoreader (freemium) et Tiny Tiny RSS (open source).Une liste de blogs
                        tech
                        classifiés par thème est disponible sur le site Awesome Tech Blogs.</li>
                </ul>
                Les bases de données d’articles organisées - Après plusieurs heures de veille, vous ressentirez
                probablement le besoin d'organiser vos articles favoris afin de les retrouver simplement. Deux candidats
                sauront remplir cette tâche :
                <ul>
                    <li>Pocket (freemium), permet de sauvegarder, étiqueter et organiser des articles, vidéos et autres
                        contenus en ligne pour les consulter ultérieurement. Ce service offre la possibilité de stocker
                        des
                        articles sur votre appareil afin de les consulter à tout moment, même hors ligne ou si l'article
                        a été
                        supprimé du web. Il propose également une lecture optimisée des articles en affichant uniquement
                        le texte et
                        les images, éliminant tout élément superflu. De plus, Pocket offre la possibilité d'écouter les
                        articles à voix haute avec une vitesse d'élocution réglable, ce qui peut s’avérer très pratique
                        dans les
                        transports en commun.</li>
                    <li>Notion (freemium) est une plateforme polyvalente et performante qui offre la possibilité de
                        créer des bases de données personnalisées, des pages, des listes et des tableaux pour structurer
                        vos
                        contenus. Ce service facilite la collaboration entre les membres d'une équipe, en permettant de
                        partager vos
                        articles favoris et de les analyser ensemble.</li>
                </ul> <br>
                Les conférences tech - Elles rassemblent généralement des experts et professionnels du secteur. En
                participant à ces événements, les développeurs ont l'occasion de rencontrer ces spécialistes, d'échanger
                et d'étendre leur réseau professionnel. De plus, assister à ces événements permet de se tenir informé
                des avancées dans son domaine. Les conférences tech offrent aussi l'opportunité d'écouter les retours
                d'expérience de professionnels ayant travaillé sur des projets similaires, fournissant ainsi des
                informations précieuses pour orienter les décisions technologiques et stratégiques. Pour connaître les
                prochaines conférences près de chez vous, consultez ces deux plateformes : dev.events et confs.tech
                La veille technologique en entreprise - Elle contribue à stimuler l'innovation au sein des équipes, à
                favoriser la progression des employés et à retenir les talents en offrant un environnement
                intellectuellement stimulant. L'une des astuces consiste à organiser des journées de partage de
                connaissances, durant lesquelles les employés peuvent présenter et débattre des nouvelles tendances,
                découvertes ou outils rencontrés dans leur travail. Ces journées renforcent la collaboration et
                encouragent l'apprentissage collectif. L’entreprise peut également soutenir la recherche et le
                développement (R&D) au sein des équipes en incitant les développeurs à consacrer une partie de leur
                temps à explorer de nouvelles technologies, à expérimenter de nouvelles solutions et à partager leurs
                découvertes avec leurs collègues. Cela soutient l'innovation et permet à l'entreprise de rester à la
                pointe de son secteur. <br>
                Les canaux audios et vidéos - Ils peuvent être écoutés ou visionnés lors d'activités passives, comme les
                trajets quotidiens ou les pauses, facilitant ainsi l'intégration de la veille technologique dans un
                emploi du temps bien rempli. De plus, ces formats permettent de consommer davantage de contenu et
                d'accroître potentiellement l'efficacité de sa veille, car les humains écoutent plus rapidement qu'ils
                ne peuvent lire. L'extension de navigateur Video Speed Controller (open source) peut être utilisée pour
                accélérer la vitesse de lecture de la plupart des contenus audios et vidéos disponibles en ligne. Read
                Aloud peut également être utilisé pour écouter à la vitesse souhaitée le texte de n’importe quel site
                web. <br>
                La chaîne YouTube Fireship propose gratuitement aux développeurs des contenus à jour, concis et de
                qualité, leur permettant de se tenir informés et de suivre les tendances du secteur technologique. <br>
                Twitter - C'est souvent là que les informations apparaissent en premier. Il est possible de suivre les
                experts, entreprises et médias spécialisés sur vos sujets de prédilection. Ces comptes publient
                fréquemment leurs découvertes et permettent d'anticiper les tendances. Surveillez les hashtags
                populaires et pertinents dans votre domaine. Par exemple, pour les développeurs, vous pouvez suivre des
                hashtags tels que #NodeJS, #ReactJS, #Laravel, ou encore des personnalités comme @youyuxi, @grafikart_fr
                ou @framasoft. Des outils tels que TweetDeck peuvent faciliter le suivi des tendances.
            </div>
        </div>
        <div class="video">
            <!-- emplacement video -->
            <video controls>
                <source src="../video/videoveille.mp4">
            </video>
        </div>
        <div class="section_article">
            <div class="titre_article">En résumé</div>
            <div class="article">La veille technologique est un processus essentiel pour les développeurs afin de se
                tenir informés des dernières avancées et innovations. Cela peut les aider à rester compétitifs, résoudre
                rapidement des problèmes et acquérir de nouvelles connaissances et compétences. La veille technologique
                doit être un processus continu et évolutif, impliquant une révision régulière des sources, des outils et
                des méthodes pour assurer leur pertinence et leur efficacité. <br>
                Il est important de ne pas se laisser submerger par l'abondance d'informations et de garder à l'esprit
                qu'il peut être plus judicieux de savoir comment retrouver facilement et rapidement une information
                plutôt que de mémoriser tout un article. La veille technologique ne se résume pas à suivre toutes les
                évolutions de chaque langage et plateforme, mais plutôt à équilibrer la découverte de nouvelles
                technologies et le maintien des compétences acquises. <br>
                En définitive, en établissant des limites et en consacrant régulièrement du temps à la veille
                technologique, les développeurs disposeront des outils et compétences nécessaires pour réussir dans un
                monde technologique en constante évolution.</div>
        </div>
        <div class="bloc_auteur">
            <img src="../images/julien.png" alt="" class="photo_auteur">
            <div>
                <div class="info_auteur">Julien Da Silva</div>
                <div class="metier_auteur">Lead développeur de CityTaps</div>
            </div>
        </div>
    </section>
    <section>
    </section>
<div>
