@font-face {
  font-family: Helvetica Neue;
  src: url("../fonts/Helvetica Neue/HelveticaNeue-Medium.otf");
}
@font-face {
  font-family: Helvetica Neue Bold;
  src: url("../fonts/Helvetica Neue/HelveticaNeue-Bold.otf");
}
@font-face {
  font-family: Helvetica Neue Thin;
  src: url("../fonts/Helvetica Neue/HelveticaNeue-Thin.otf");
}
@font-face {
  font-family: Memphis LT Pro;
  src: url("../fonts/memphis-lt-pro-cufonfonts/MemphisLTPro-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
}

/* header */

.logo {
  margin-top: 28px;
  margin-bottom: 27px;
  margin-left: 60px;
  width: 121px;
  height: 45px;

  flex-direction: row;
  align-items: flex-start;
}

.header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_bar::placeholder {
  font-family: Helvetica Neue;
  font-size: 20px;
  margin-bottom: 8px;
}

.search_bar {
  height: 40px;
  width: 295px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 86px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #f5f5f5;
  font-family: Helvetica Neue;
  font-size: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 10px center;
  padding-left: 40px;
}

.search {
  height: 24px;
  width: 24px;
}

.right_side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  width: 25px;
  height: 25px;
  margin-right: 70px;
  cursor: pointer;
}

/* le plus lu */

.image {
  width: 100%;
}

.auteur {
  font-family: "Memphis LT Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  padding-top: 7vh;
  padding-bottom: 5vh;
  /* identical to box height, or 243% */
}

.lepluslu {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 2vh;

  color: rgba(0, 0, 0, 0.5);
}

.titre {
  display: flex;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 2vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  margin-right: 30vw;
}

.button img {
  height: auto;
  width: 9vw;
}

.underblock {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background: #f5f5f5;
}

.background2 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 3vw;
  background: #f5f5f5;
}

.column2 {
  /* display: flex; */
  flex-direction: column;
  align-self: center;
  width: 85%;
  height: 80%;
  background: #f5f5f5;
}

.underblock {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background: #f5f5f5;
}

.texte {
  display: flex;
  flex-direction: row;
  font-family: "Memphis LT Pro";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: justify;

  color: rgba(0, 0, 0, 0.8);
  margin-left: 14vw;
  margin-top: 7vh;
  padding-right: 5vw;
}

.CTA {
  display: flex;
  width: 200px;
  height: 60px;
  /* left: calc(50% - 200px / 2 + 440px);
  top: 985px; */

  /* vertlebon */

  background: #61d18a;
  border-radius: 15px;
  display: flex;
  margin-top: 14vh;
  margin-left: 68vw;
}

.Dec {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 43px;
  /* identical to box height, or 180% */

  text-align: justify;

  /* Black 700 */

  color: #141414;
  justify-content: space-around;

  background: none;
  border: none;
  width: 100%;
  text-align: center;
}

/* slider */

.news {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Pour aligner les éléments verticalement au centre */
  justify-content: space-between; /* Pour espacer les éléments horizontalement */
  height: 126px;
}

.titre_section {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  margin-left: 45vw;
  margin-top: 74px;
}

.bouton {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin-right: 7vw;
  margin-top: 5vw;
  border-width: 0;
  background-color: white;
}

.bouton:hover {
  cursor: pointer;
}

button {
  outline: none;
}

.arrow {
  padding-left: 6px;
  /* height: 14px; */
  /* width: 14px; */
}

.slider {
  display: flex;
  justify-content: center;
}

.left_image {
  width: 380px;
  height: 550px;
  margin-left: 0vw;
  margin-top: 7vw;
  flex-shrink: 2;
}

.right_image {
  width: 380px;
  height: 550px;
  margin-left: 6vw;
  margin-top: 7vw;
  flex-shrink: 2;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

/* voir pour faire sans position absolute et relative */

.titre_slider {
  font-family: Helvetica Neue;
  font-size: 28px;
  font-weight: bold;
  margin-left: 3vw;
  margin-bottom: 25px;
  color: white;
}

.main_image {
  margin-left: 2vw;
  margin-top: 4vw;
  width: 100%;
  height: auto;
}

/* etudiant du mois */

.content {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  margin-top: 5vw;
  padding-bottom: vw;
}

.image_avi {
  height: auto;
  width: 50%;
}

.description {
  display: flex;
  flex-direction: column;
}

.heticien {
  font-family: Helvetica Neue;
  font-size: 20px;
  margin-top: 5vw;
  margin-left: 7vw;
  color: rgba(0, 0, 0, 0.5);
}

.avidan {
  font-family: Memphis LT Pro;
  font-size: 36px;
  margin-left: 7vw;
  margin-top: 2vw;
}

.text {
  font-family: Memphis LT Pro;
  font-size: 18px;
  margin-left: 12vw;
  margin-top: 2vw;
  margin-right: 9vw;
  line-height: 2em;
}

.bouton_étudiant {
  margin-left: 7vw;
  width: 7vw;
  background-color: #f5f5f5;
}

/* yearbook */

.yearbook {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 0vw;
}

.image_yearbook {
  height: auto;
  width: 50%;
}

.yearbook_title {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 28px;
  margin-top: 5vw;
  margin-left: 5vw;
}

/* news */

.news_section {
  background-color: #DFF6E8;
}

.debut_section {
  background-color: #DFF6E8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vw;
  padding-top: 5vw;
  padding-right: 5vw;
}

.news_titre {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 28px;
}

.decouvrir {
  font-family: Helvetica Neue;
  font-size: 24px;
  line-height: 2em;
  color: #000;
  text-decoration: underline;

  display: flex;
  flex-direction: row;
}

.decouvrir img {
  margin-left: 0.5vw;
}

.decouvrir:hover {
  cursor: pointer;
}

.articles {
  background-color: #DFF6E8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2vh;
  padding-bottom: 5vh;
}

.news_1 {
  height: 70%;
  padding-left: 5%;
}

.news_1 img {
  width: 40vw;
}

.news_2 {
  height: 70%;
  padding-left: 3%;
}

.news_2 img {
  width: 40vw;
}

.titre_news {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 20px;
  margin-top: 3vh;
}

.description_news {
  font-family: Memphis LT Pro;
  font-size: 18px;
  margin-top: 2vh;
  margin-right: 5vw;
  width: 40vw;
}

.timer_news {
  font-family: Helvetica Neue Thin;
  margin-top: 2vh;
}

/* footer */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #141414;
  padding-bottom: 6vw;
}

.logo_footer {
  min-height: 8vh;
  height: auto;
  padding-left: 4vw;
}

.grid-item {
  margin-top: 5vw;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 4.5vh;
  padding-left: 1vw;
  margin-top: 2vw;
  margin-right: 2vw;
}

.catégories {
  color: #61d18a;
  font-family: Helvetica Neue;
  font-size: 15px;
}

.catégories_titre {
  color: #666666;
  margin-bottom: 2vw;
}

.linkfooter {
  margin-bottom: 1.2vw;
  cursor: pointer;
  color: #61d18a;
  font-family: Helvetica Neue;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

/* Slider */

.Container {
  width: 100%;
  margin: 2% auto;
}
.carrousel {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.3s;
}
.slider img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls .arrow {
  position: absolute;
  top: 80%;
  cursor: pointer;
}
.arrow.left {
  left: 13vh;
  margin-top: 3vh;
}
.arrow.right {
  right: 13vh;
  margin-top: 3vh;
}
.controls ul {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 10.5vh;
}
.controls ul li {
  width: 2vh;
  height: 2vh;
  border: 0.2vh solid black;
  background-color: white;
  border-radius: 100%;
  margin: 2vh;
  cursor: pointer;
}
.controls ul li.selected {
  background-color: #3c5180;
}

/* Bloc Asso */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 50px;
  padding-top: 50px;
}

.Textelabel {
  color: #000;
  /* text-align: center; */
  font-size: 28px;
  font-family: Helvetica Neue;
  font-weight: 500;
  margin-bottom: 50px;
  padding-left: 50px;
  /* text-align: left; */
  /* margin-left: 2.6vw; */
}

.Blocks {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-left: 50px;
  padding-right: 50px; */
}

.Case {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

#PictureSize {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0px 0px;
}

.whiterectangle {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
}

.whiterectangle:hover {
  background-color: #65d28d;
  transition-duration: 750ms;
  transition-timing-function: ease-out;
}

.whiterectangle:hover > * {
  transition-duration: 500ms;
  transition-timing-function: ease;
  color: seashell;
}

.LittleTitle {
  margin-top: 1vw;
  margin-left: 1vw;
  color: #000;
  font-size: 22px;
  font-family: Helvetica Neue;
  font-weight: 700;
}

.LittleDescription {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  width: 80%;
  color: #000;
  font-size: 18px;
  font-family: Memphis LT Pro;
  font-weight: 500;
}

.ReadingTime {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  color: #000;
  font-size: 16px;
  font-family: Memphis LT Pro;
  font-weight: 300;
}

/* EVENTS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 50px;
  padding-top: 50px;
}

.Textelabel {
  color: #000;
  /* text-align: center; */
  font-size: 28px;
  font-family: Helvetica Neue;
  font-weight: 500;
  margin-bottom: 50px;
  /* text-align: left; */
}

.Blocks {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;
  /* padding-left: 50px;
  padding-right: 50px; */
}

.Case {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

#PictureSize {
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0px 0px;
}

.whiterectangle {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
}

.whiterectangle:hover {
  background-color: #65d28d;
  transition-duration: 750ms;
  transition-timing-function: ease-out;
}

.whiterectangle:hover > * {
  transition-duration: 500ms;
  transition-timing-function: ease;
  color: seashell;
}

.LittleTitle {
  margin-top: 1vw;
  margin-left: 1vw;
  color: #000;
  font-size: 22px;
  font-family: Helvetica Neue;
  font-weight: 700;
}

.LittleDescription {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  width: 80%;
  color: #000;
  font-size: 18px;
  font-family: Memphis LT Pro;
  font-weight: 500;
}

.ReadingTime {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  color: #000;
  font-size: 16px;
  font-family: Memphis LT Pro;
  font-weight: 300;
}

/* filtres */

.filtres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.element {
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 500;
  padding: 1vw;
  border-radius: 20px;
}

.element:hover {
  background-color: #61d18a;
  cursor: pointer;
}

/* Bloc aide */

* {
  padding: 0;
  margin: 0;
}

.container2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 5vh;
  margin-bottom: 2vw;
}

.aide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.billets {
  font-family: Helvetica Neue;
  border-radius: 5px;
  background-color: white;
  width: 600px;
  margin-top: 2vh;
  margin-left: 2vw;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titre_projet {
  font-weight: bold;
  font-size: 24px;
  padding-left: 2vw;
  padding-top: 30px;
}

.categorie {
  margin-top: 4.5vh;
  margin-right: 2vw;
  font-size: 20px;
  background-color: #61d18a;
  border-radius: 60px;
  text-align: center;
  width: max-content;
  padding: 1vh;
  height: max-content;
  border: 1px black solid;
}

.description_projet {
  padding-left: 2vw;
  width: 60%;
}

.require {
  padding-top: 1vh;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.personne {
  padding-left: 1.7vw;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.number {
  padding-top: 0.8vh;
  padding-left: 0.2vw;
}

.date {
  padding-left: 1.7vw;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.time {
  padding-left: 1.7vw;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postuler {
  padding: 1.5vh;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
  margin-right: 2vw;
  margin-bottom: 2vh;
  width: max-content;
  height: 50px;
}

.postuler:hover {
  cursor: pointer;
}

.postuler:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Bandeau Aide */

* {
  margin: 0;
  padding: 0;
}

.decouvrir_projet {
  background-color: rgba(233, 246, 232, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discover {
  font-family: Helvetica Neue;
  font-size: 20px;
  text-align: justify;
  margin-left: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-weight: 500;
  width: 50vw;
}

.project {
  font-family: Helvetica Neue;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  height: 7vh;
  width: 20vw;
  margin-right: 21vh;
  margin-top: 8vh;
  border-radius: 15px;
  border: none;
  background-color: #61d18a;
}

/* Desc Bloc */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 50px 50px 50px 50px;
}

.case {
  margin: 10px auto;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.container.reversed_order {
  flex-direction: row-reverse;
}

.image {
  width: 100%;
  height: 85%;
}

.auteur {
  color: #000;
  font-size: 18px;
  font-family: Memphis LT Pro;
  font-weight: 500;
  line-height: 28px;
  justify-content: flex-end;
  /* text-align: right; */
}

.title {
  width: 640px;
  color: #000;
  font-size: 28px;
  font-family: Helvetica Neue;
  font-weight: 700;
}

.textbody {
  margin-left: 110px;
  margin-top: 135px;
  color: #000;
  font-size: 18px;
  font-family: Memphis LT Pro;
  font-weight: 500;
  line-height: 28px;
}

.CTA2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  border: 2px solid var(--vertlebon, #61d18a);
  margin-top: 135px;
}

.CTA2:hover {
  background-color: #61d18a;
  transition-timing-function: ease-out;
  transition-duration: 750ms;
}

.CTA2:hover > * {
  color: #fff;
  transition-duration: 600ms;
}

.Dec2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 43px;
  color: #141414;
  justify-content: space-around;
  background: none;
  border: solid;
  border: #61d18a;
  width: 100%;
  text-align: center;
}

/* Burger Menu */

.imageburger {
  width: 100%;
}

.backgroundb {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-bottom: 3vw;
  background: #f5f5f5;
}

.columnb {
  /* display: flex; */
  flex-direction: column;
  align-self: center;
  width: 85%;
  height: 80%;
  background: #f5f5f5;
}

.underblockb {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background: #f5f5f5;
}

.auteurb {
  font-family: "Memphis LT Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 36px;
  padding-top: 7vh;
  padding-bottom: 5vh;
  /* identical to box height, or 243% */
}

.lepluslub {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 2vh;

  color: rgba(0, 0, 0, 0.5);
}

.titreb {
  display: flex;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 2vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonb {
  margin-right: 30vw;
}

.texteb {
  display: flex;
  flex-direction: row;
  font-family: "Memphis LT Pro";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: justify;

  color: rgba(0, 0, 0, 0.8);
  margin-left: 14vw;
  margin-top: 7vh;
  padding-right: 5vw;
}

.CTAb {
  display: flex;
  width: 200px;
  height: 60px;
  /* left: calc(50% - 200px / 2 + 440px);
  top: 985px; */

  /* vertlebon */

  background: #61d18a;
  border-radius: 15px;
  display: flex;
  margin-top: 14vh;
  margin-left: 68vw;
}

/* Burger */

.burgermenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 22%;
  height: 72vh;
  display: none;
  background-color: #191919;
}

.category_title {
  display: flex;
  font-family: "Helvetica Neue";
  font-size: 15px;
  line-height: 34px;
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.burger_title {
  color: #b3e9c7;
}

.category {
  display: flex;
  flex-direction: column;
}

.category_in {
  font-family: Helvetica Neue;
  color: white;
  font-size: 20px;
  margin-left: 2vw;
}

.croix {
  cursor: pointer;
}

/* Click Content Page */

@font-face {
  font-family: Helvetica Neue;
  src: url("../fonts\Helvetica Neue\HelveticaNeue-Medium.otf");
}
@font-face {
  font-family: Helvetica Neue Bold;
  src: url("../fonts\Helvetica Neue\HelveticaNeue-Bold.otf");
}
@font-face {
  font-family: Helvetica Neue Thin;
  src: url("../fonts\Helvetica Neue\HelveticaNeue-Thin.otf");
}
@font-face {
  font-family: Memphis LT Pro;
  src: url("../fonts\memphis-lt-pro-cufonfonts\MemphisLTPro-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
}

/* header */

.logo {
  margin-top: 28px;
  margin-bottom: 27px;
  margin-left: 60px;
  width: 121px;
  height: 45px;

  flex-direction: row;
  align-items: flex-start;
}

.header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_bar::placeholder {
  font-family: Helvetica Neue;
  font-size: 20px;
  margin-bottom: 8px;
}

.search_bar {
  height: 40px;
  width: 295px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 86px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #f5f5f5;
  font-family: Helvetica Neue;
  font-size: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 10px center;
  padding-left: 40px;
}

.search {
  height: 24px;
  width: 24px;
}

.right_side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  width: 25px;
  height: 25px;
  margin-right: 70px;
}

/* contenu */

.image {
  height: auto;
  width: 98.9vw;
}

.auteur {
  font-family: Memphis LT Pro;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5vw;
  margin-left: 5vw;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 28px;
  margin-top: 2vw;
  margin-left: 5vw;
}

.button {
  margin-right: 30vw;
}

.button img {
  height: auto;
  width: 9vw;
}

.description {
  font-family: Memphis LT Pro;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
  margin-left: 20vw;
  margin-right: 15vw;
  line-height: 2em;
  text-align: justify;
}

.section_article {
  background-color: #f5f5f5;
  padding-top: 5vw;
  padding-left: 20vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titre_article {
  font-family: Helvetica Neue;
  font-size: 28px;
}

.article {
  font-family: Memphis LT Pro;
  font-size: 18px;
  line-height: 2em;
  width: 50vw;
  text-align: justify;
  margin-top: 2vw;
  margin-left: 7vw;
  margin-bottom: 2vw;
}

.quote {
  font-family: Memphis LT Pro;
  font-size: 60px;
  font-weight: 1em;
  margin-left: 5vw;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5vw;
}

.images {
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images img:first-child {
  margin-left: 5vw;
}
.images img:last-child {
  margin-right: 5vw;
}

.slider_article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.bloc_auteur {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.photo_auteur {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.info_auteur {
  font-family: Helvetica Neue;
  font-size: 22px;
  margin-left: 11vw;
  padding-top: 12vh;
}

.metier_auteur {
  font-family: Helvetica Neue;
  font-size: 22px;
  margin-left: 11vw;
  margin-top: 1.5vh;
}

/* slider */

.news {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Pour aligner les éléments verticalement au centre */
  justify-content: space-between; /* Pour espacer les éléments horizontalement */
  height: 126px;
}

.titre_section {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  margin-left: 35vw;
  margin-top: 11vh;
}

.bouton {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin-right: 7vw;
  margin-top: 5vw;
  border-width: 0;
  background-color: #f5f5f5;
}

.bouton:hover {
  cursor: pointer;
}

button {
  outline: none;
}

.arrow {
  padding-left: 6px;
  height: 14px;
  width: 14px;
}

.slider {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-bottom: 8vh;
}

.left_image {
  width: 380px;
  height: 550px;
  margin-left: 0vw;
  margin-top: 7vw;
  flex-shrink: 2;
}

.right_image {
  width: 380px;
  height: 550px;
  margin-left: 6vw;
  margin-top: 7vw;
  flex-shrink: 2;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

/* voir pour faire sans position absolute et relative */

.titre_slider {
  font-family: Helvetica Neue;
  font-size: 28px;
  font-weight: bold;
  margin-left: 3vw;
  margin-bottom: 25px;
  color: white;
}

.main_image {
  margin-left: 2vw;
  margin-top: 4vw;
  width: 100%;
  height: auto;
}

/* footer */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #141414;
  padding-bottom: 5vw;
}

.logo_footer {
  min-height: 8vh;
  height: auto;
  padding-left: 4vw;
}

.grid-item {
  margin-top: 5vw;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 4.5vh;
  padding-left: 1vw;
  margin-top: 2vw;
  margin-right: 2vw;
}

.catégories {
  color: #61d18a;
  font-family: Helvetica Neue;
  font-size: 15px;
}

.catégories_titre {
  color: #666666;
  margin-bottom: 2vw;
}

.link {
  margin-bottom: 1.2vw;
  cursor: pointer;
}
