<div>
            <img class="image" src="../images/image 1.png" alt="" />
        </div>
        <div class="background2">
            <div class="column2">
                <div class="underblock">
                    <div class="auteur">Grégoire Charassin, Adrien Rivière</div>
                    <div class="lepluslu">Le plus LU</div>
                    <div class="titre">
                        Le futur est mort. Vive le futur !
                        <div class="button">
                            <img src="../images/Group 269.svg" />
                        </div>
                    </div>
                    <div class="texte">
                        75% des jeunes pensent que le futur est effrayant. C’est ce que
                        révèle une enquête d’ampleur réalisé en 2021 auprès de 10 000
                        jeunes de 16 à 25 ans dans une dizaine de pays, dont la France.
                        Ont-ils raison d’avoir peur ? Pouvons-nous leur donner tort ?
                    </div>
                </div>
                <div class="CTA">
                    <button class="Dec">Découvrir</button>
                </div>
            </div>
        </div>
    </section>
    <section>
