{% block main %}

<div id="../images/menu.svg" onclick="afficherBloc()">Icône</div>

<div class="burgermenu">
    <div class="category_title">
        <div class="burger_title">CATEGORIES</div>
        <img src="{{ asset('images/croix.svg')}}" alt=""/>
    </div>
    <div class="category">
        <div class="category_in">INTERVIEWS</div>
        <div class="category_in">ARTICLES</div>
        <div class="category_in">PROJETS</div>
        <div class="category_in">NEWS</div>
        <div class="category_in">EVENTS</div>
    </div>
    <div class="category_title">
        <div class="burger_title">VIE D'HETIC</div>
    </div>
    <div class="category">
        <div class="category_in">HETICIEN DU MOIS</div>
        <div class="category_in">ASSOCIATIONS</div>
        <div class="category_in">NEWSLETTER</div>
    </div>
    <div class="category_title">
        <div class="burger_title">NOUS CONTACTER</div>
    </div>
    <div class="category">
        <div class="category_in">CONTACT / AIDE</div>
        <div class="category_in">MENTIONS LEGALES</div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script defer src='{{asset("js/burger.js") }}'></script>
{% endblock %}