{% block main %}

<div class="burgermenu">
    <div class="category_title">
        <div class="burger_title">CATEGORIES</div>
        <img class="burgerMenuCloseIcon croix" src="{{ asset('images/croix.svg')}}" alt="Croix"/>
    </div>
    <div class="category">
        <a class="category_in" href="http://localhost/Yearbook/public/index.php/interview">INTERVIEWS</a>
        <a class="category_in" href="http://localhost/Yearbook/public/index.php/project">PROJETS</a>
        <a class="category_in" href="http://localhost/Yearbook/public/index.php/articles">ARTICLES</a>
        <a class="category_in" href="http://localhost/Yearbook/public/index.php/news">NEWS</a>
        <a class="category_in" href="http://localhost/Yearbook/public/index.php/events">EVENTS</a>
    </div>

    
    <div class="category_title">
        <div class="burger_title">VIE D'HETIC</div>
    </div>
    <div class="category">
        <div class="category_in">HETICIEN DU MOIS</div>
        <a class="category_in" href="http://localhost/Yearbook/public/index.php/asso">ASSOCIATIONS</a>
        <div class="category_in">NEWSLETTER</div>
    </div>
    <div class="category_title">
        <div class="burger_title">NOUS CONTACTER</div>
    </div>
    <div class="category">
        <div class="category_in">CONTACT / AIDE</div>
        <div class="category_in">MENTIONS LEGALES</div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script defer src='{{asset("js/burger.js") }}'></script>
{% endblock %}