<div class="content">
            <img src="../images/image 4.png" alt="image avi" class="image_avi">
            <div class="descriptionAvi">
                <h2 class="heticien">HETICIEN DU MOIS</h2>
                <h1 class="avidan">Avidan Benguigui</h1>
                <div class="text">Nous sommes ravis de mettre en lumière notre Étudiant du Mois, un développeur
                    prodigieux qui ne cesse de repousser les limites de l'excellence. Son travail exemplaire, alliant
                    rigueur et créativité, témoigne de sa passion inébranlable pour le développement. Doté d'une
                    expertise technique exceptionnelle, il résout les problèmes les plus complexes avec aisance et
                    propose des solutions novatrices. Sa capacité à travailler en équipe, à collaborer et à communiquer
                    efficacement fait de lui un leader naturel. Son dévouement envers l'apprentissage continu et sa
                    volonté d'aider les autres en font une source d'inspiration pour tous les étudiants.</div>
                <button class="bouton bouton_étudiant">Découvrir
                    <img src="../images/Group 379.svg" alt="" class="arrow">
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="content yearbook">
            <img src="../images/Rectangle 204.png" alt="" class="image_yearbook">
            <div class="descriptionAvi">
                <div class="yearbook_title">Le Yearbook</div>
                <div class="text">Le projet YearBook a pour vocation de devenir le média fédérateur de toutes les
                    initiatives héticiennes. Ce site est le résultat du travail de la promotion H1 de la Grande Ecole.
                    Il représente le projet validant la fin d’année des étudiants. </div>
            </div>
        </div>
    </section>
    <section class="news_section">