<div class="grid-container">
            <div class="grid-item">
                <img src="../images/logo hetic.svg" alt="" class="logo_footer">
                <div class="social_media">
                    <a href="https://www.linkfooteredin.com/feed/?trk=onboarding-landing"><img src="../images/linkfooteredin.svg"
                            alt="" class="social_media"></a>
                    <a href="https://twitter.com/hetic"><img src="../images/twitter.svg" alt="" class="social_media"></a>
                    <a href="https://www.instagram.com/instahetic/"><img src="../images/instagarm.svg" alt=""
                            class="social_media"></a>
                </div>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">CATÉGORIES</div>
                <a class="linkfooter" href="http://localhost/Yearbook/public/index.php/interview">INTERVIEWS</a>
                <a class="linkfooter" href="http://localhost/Yearbook/public/index.php/project">PROJETS</a>
                <a class="linkfooter" href="http://localhost/Yearbook/public/index.php/articles">ARTICLES</a>
                <a class="linkfooter" href="http://localhost/Yearbook/public/index.php/news">NEWS</a>
                <a class="linkfooter" href="http://localhost/Yearbook/public/index.php/interview">EVENTS</a>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">VIE D'HETIC</div>
                <div class="linkfooter">HETICIEN DU MOIS</div>
                <a class="linkfooter" href="http://localhost/Yearbook/public/index.php/asso">ASSOCIATIONS</a>
                <div class="linkfooter">NEWSLETTER</div>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">NOUS CONTACTER</div>
                <div class="linkfooter">CONTACT / AIDE</div>
                <div class="linkfooter">MENTIONS LÉGALES</div>
            </div>
        </div>
    </footer>
</body>

</html>