<!DOCTYPE html>
        <!-- header -->
        <div class="header">
            <img src="../images/1200px-Logo_HETIC 1.png" alt="logo" class="logo">
            <div class="right_side">
                <input type="" class="search_bar" placeholder="Recherche...">
                {# <img src="../images/menu.svg" alt="" class="menu"> #}
                <img class="burgerMenuOpenIcon menu" src="{{ asset('images/menu.svg')}}" alt="Menu"/>
            </div>
        </div>
    </header>
