<div class="news">
            <h1 class="titre_section">Nouveautés</h1>
            <button class="bouton">Découvrir
                <img src="../images/Group 379.svg" alt="" class="arrow">
            </button>
        </div>
        <div class="slider">
            <img src="../images/Rectangle 104.png" alt="" class="left_image">
            <div class="image-container">
                <img src="../images/Rectangle 105.png" alt="" class="main_image">
                <div class="text-overlay">
                    <div class="titre_slider">Conflit à Bry-sur-Marne</div>
                </div>
            </div>
            <img src="../images/Rectangle 106.png" alt="" class="right_image">
        </div>
    </section>
    <section>