  <body>
    <!-- container flex pour l'ensemble de la page -->
    <div class="container">
      <!-- bandeau asso -->
      <div class="Textelabel">Les Events</div>
      <!-- container pour les 6 blocs photo -->
      <div class="Blocks">
        <!-- Case NEBULA qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/interstellar.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Conflit à Bry-sur-Marne</div>
            <div class="LittleDescription">
              Lundi dernier, un enfant armé a essayé de tuer son père à cause
              d’une défaite sur Valorant.
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case SYNERG qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/futsal.png" alt="" />
          <div class="whiterectangle">
            <div class="Transitionwhite LittleTitle">
              Conflit à Bry-sur-Marne
            </div>
            <div class="Transitionwhite LittleDescription">
              Lundi dernier, un enfant armé a essayé de tuer son père à cause
              d’une défaite sur Valorant.
            </div>
            <div class="Transitionwhite ReadingTime">5 minutes</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
