  <body>
    <!-- container flex pour l'ensemble de la page -->
    <div class="container">
      <!-- bandeau asso -->
      <div class="Textelabel">Les Events</div>
      <!-- container pour les 6 blocs photo -->
      <div class="Blocks">
        <!-- Case NEBULA qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/interstellar.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Visionnage d'Interstellar</div>
            <div class="LittleDescription">
              Une projection du film Interstellar.
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case SYNERG qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/futsal.png" alt="" />
          <div class="whiterectangle">
            <div class="Transitionwhite LittleTitle">
              Compétition Futsal
            </div>
            <div class="Transitionwhite LittleDescription">
              Une compétition de Futsal inter-promo.
            </div>
            <div class="Transitionwhite ReadingTime">5 minutes</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
