  <body>
    <!-- container flex pour l'ensemble de la page -->
    <div class="container">
      <!-- bandeau asso -->
      <div class="Textelabel">Les Associations</div>
      <!-- container pour les 6 blocs photo -->
      <div class="Blocks">
        <!-- Case NEWSROOM qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/Hetic Newsroom.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Hetic Newsroom</div>
            <div class="LittleDescription">
              Découvrez l'association des news d'Hetic
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case HETICTACTOE qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/TacToe.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">HEtic Tac Toe</div>
            <div class="LittleDescription">
              L'association heticiennes des jeux de société
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case NEBULA qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/Nebula.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Nebula</div>
            <div class="LittleDescription">
              Le bureau des étudiants héticien
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case SYNERG qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/Synerg.png" alt="" />
          <div class="whiterectangle">
            <div class="Transitionwhite LittleTitle">
              Synerg'hétic
            </div>
            <div class="Transitionwhite LittleDescription">
              Découvrez la micro-entreprise héticienne
            </div>
            <div class="Transitionwhite ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case FAILEN qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/Failen.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Failen</div>
            <div class="LittleDescription">
              L'équipe e-sport d'Hetic
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case OPENBOX qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/OpenBox.png" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">OpenBox</div>
            <div class="LittleDescription">
              Le partage de connaissance heticien
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
