<body>
    <section>
        <a class="decouvrir_projet" href="{{ path('project') }}">
            <div class="discover">Venez découvrir les projets de la communauté heticienne</div>
            <div class="project" >Découvrir les projets étudiants</div>
        </a>
    </section>
</body>

</html>