<body>
    <section>
        <div class="decouvrir_projet">
            <div class="discover">Découvrez les projets de nos étudiants</div>
            <button class="project">Découvrir les projets étudiants</button>
        </div>
    </section>
</body>

</html>