<body>
    <section>
        <div class="decouvrir_projet">
            <div class="discover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</div>
            <button class="project">Découvrir les projets étudiants</button>
        </div>
    </section>
</body>

</html>