<body>
    <section>
        <div class="decouvrir_projet">
            <div class="discover">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</div>
            <a href="http://localhost/Yearbook/public/index.php/project">
             <button class="project">Découvrir les projets étudiants</button>
            </a>
        </div>
    </section>
</body>

</html>