<body>
    <section>
        <div class="decouvrir_projet">
            <div class="discover">Venez découvrir les projets de la communauté heticienne</div>
            <a class="project" href="{{ path('project') }}">Découvrir les projets étudiants</a>
        </div>
    </section>
</body>

</html>