<div class="grid-container">
            <div class="grid-item">
                <img src="../images/logo hetic.svg" alt="" class="logo_footer">
                <div class="social_media">
                    <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"><img src="../images/linkedin.svg"
                            alt="" class="social_media"></a>
                    <a href="https://twitter.com/home"><img src="../images/twitter.svg" alt="" class="social_media"></a>
                    <a href="https://www.instagram.com/"><img src="../images/instagarm.svg" alt=""
                            class="social_media"></a>
                </div>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">CATÉGORIES</div>
                <div class="link">INTERVIEWS</div>
                <div class="link">ARTICLES</div>
                <div class="link">PROJETS</div>
                <div class="link">NEWS</div>
                <div class="link">EVENTS</div>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">VIE D'HETIC</div>
                <div class="link">HETICIEN DU MOIS</div>
                <div class="link">ASSOCIATIONS</div>
                <div class="link">NEWSLETTER</div>
            </div>
            <div class="grid-item catégories">
                <div class="catégories catégories_titre">NOUS CONTACTER</div>
                <div class="link">CONTACT / AIDE</div>
                <div class="link">MENTIONS LÉGALES</div>
            </div>
        </div>
    </footer>
</body>

</html>