<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Block4</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- container flex pour l'ensemble de la page -->
    <div class="container">
      <!-- bandeau asso -->
      <div class="Textelabel">Les dernières news</div>
      <!-- container pour les 6 blocs photo -->
      <div class="Blocks">
        <!-- Case NEBULA qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/NVIDIA.jpg" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Nvidia pas de série 50 avant 2025</div>
            <div class="LittleDescription">
              NVIDIA met de côté les joueurs, pas de GeForce RTX 50 Series avant 2025
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case SYNERG qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/Health.webp" alt="" />
          <div class="whiterectangle">
            <div class="Transitionwhite LittleTitle">
              Health Care Data Is a Researcher’s Gold Mine
            </div>
            <div class="Transitionwhite LittleDescription">
              Patients and clinicians generate huge amounts of data that could advance care.
            </div>
            <div class="Transitionwhite ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case FAILEN qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/IA.webp" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">Les datacraft Awards récompensent les projets d’IA les plus prometteurs</div>
            <div class="LittleDescription">
              Dans le domaine de la data et de l’IA les projets les plus prometteurs méritent d’être mis en lumière
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>

        <!-- Case OPENBOX qui contient image et description -->
        <div class="Case">
          <img id="PictureSize" src="../images/flight.webp" alt="" />
          <div class="whiterectangle">
            <div class="LittleTitle">How Your Real Flight Reservation Can Be Used to Scam You</div>
            <div class="LittleDescription">
              Scammers use a booking technicality, traveler confusion, and promises of dirt-cheap tickets to offer hot deals that are anything but.
            </div>
            <div class="ReadingTime">5 minutes</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
