<div>
            <img class="image" src="../images/prezzz.png" alt="" />
        </div>
        <div class="background2">
            <div class="column2">
                <div class="underblock">
                    <div class="auteur">Matthieu Eveillard</div>
                    <div class="lepluslu">Le plus récent</div>
                    <div class="titre">
                        Arrêtez de coder, apprenez à développer
                        <div class="readingTime">
                            <div class="Time">
                                <div>7 minutes</div>
                                <img src="../images/timer.svg" alt="timer">
                            </div>
                        </div>
                    </div>
                    <div class="texte">
                        Coder. Développer. Avez-vous remarqué que l'on emploie indifféremment un mot 
                        et l'autre ? Sont-ils strictement équivalents ?
                    </div>
                </div>
                <div class="CTA">
                    <button class="Dec">Découvrir</button>
                </div>
            </div>
        </div>
    </section>
    <section>