<div>
            <img class="image" src="../images/08_full.jpg" alt="" />
        </div>
        <div class="background2">
            <div class="column2">
                <div class="underblock">
                    <div class="auteur">Johnathan Wage</div>
                    <div class="lepluslu">Le plus lu</div>
                    <div class="titre">
                        La veille technologique : l'arme secrète des développeurs à succès !
                        <div class="readingTime">
                            <div>7 minutes</div>
                            <img src="../images/timer.svg" alt="timer">
                        </div>
                    </div>
                    <div class="texte">
                        Plongez dans le monde en constante mutation de la technologie et découvrez pourquoi
            la veille informatique est un atout indispensable pour les développeurs !
                    </div>
                </div>
                <div class="CTA">
                    <a class="Dec" href="{{ path('app_article_show', {id: 1}) }}">Découvrir </a>
                </div>
            </div>
        </div>
    </section>
    <section>