<div class="debut_section">
            <div class="news_titre">Les News du moment</div>
            <div class="decouvrir">
                <div>Découvrir</div>
                <img src="../images/Group 381.svg" alt="">
            </div>
        </div>
        <div class="articles">
            <div class="news_1">
                <img src="../images/Rectangle 247.png" alt="">
                <div class="titre_news">Google, la nouvelle ère</div>
                <div class="description_news">Lundi dernier, un enfant armé a essayé de tuer son père à cause d’une
                    défaite sur Valorant.</div>
                <div class="timer_news">5 minutes</div>
            </div>
            <div class="news_2">
                <img src="../images/Rectangle 248.png" alt="">
                <div class="titre_news">Google, la nouvelle ère</div>
                <div class="description_news">Lundi dernier, un enfant armé a essayé de tuer son père à cause d’une
                    défaite sur Valorant.</div>
                <div class="timer_news">5 minutes</div>
            </div>
        </div>
    </section>
    <footer>