<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<body>
<header>
        {% include "cookie/landing_page/code/header.html.twig" %}
        {% include "cookie/landing_page/code/burger.html.twig" %}
</header>
<main>
        {% block main %}{% endblock %}
</main>

<footer>
        {% include "cookie/landing_page/code/footer.html.twig" %}
</footer>
</body>

</html>