<body>
    <div class="container2">
        <!-- container flex -->
        <div class="aide">
            <!-- container des billets -->
            <div class="billets">
                <!-- un billet -->
                <div class="info">
                    <div class="titre_projet">Projet UI/UX</div>
                    <div class="categorie">Design</div>
                </div>
                <div class="description_projet">Nous recherchons un UX designer pour la refonte de notre 
                    application.</div>
                <div class="end">
                    <div class="require">
                        <div class="personne">
                            <img src="../images/user.svg" alt="">
                            <div class="number">1</div>
                        </div>
                        <div class="date">
                            <img src="../images/calendar.svg" alt="">
                            <div class="number">15/06</div>
                        </div>
                        <div class="time">
                            <img src="../images/clock.svg" alt="">
                            <div class="number">20h</div>
                        </div>
                    </div>
                    <button class="postuler">Postuler</button>
                </div>
            </div>
            <div class="billets">
                <!-- un billet -->
                <div class="info">
                    <div class="titre_projet">Projet UI/UX</div>
                    <div class="categorie">Design</div>
                </div>
                <div class="description_projet">Nous recherchons un UX designer pour la refonte de notre 
                    application.</div>
                <div class="end">
                    <div class="require">
                        <div class="personne">
                            <img src="../images/user.svg" alt="">
                            <div class="number">1</div>
                        </div>
                        <div class="date">
                            <img src="../images/calendar.svg" alt="">
                            <div class="number">15/06</div>
                        </div>
                        <div class="time">
                            <img src="../images/clock.svg" alt="">
                            <div class="number">20h</div>
                        </div>
                    </div>
                    <button class="postuler">Postuler</button>
                </div>
            </div>
            <div class="billets">
                <!-- un billet -->
                <div class="info">
                    <div class="titre_projet">Projet UI/UX</div>
                    <div class="categorie">Design</div>
                </div>
                <div class="description_projet">Nous recherchons un UX designer pour la refonte de notre 
                    application.</div>
                <div class="end">
                    <div class="require">
                        <div class="personne">
                            <img src="../images/user.svg" alt="">
                            <div class="number">1</div>
                        </div>
                        <div class="date">
                            <img src="../images/calendar.svg" alt="">
                            <div class="number">15/06</div>
                        </div>
                        <div class="time">
                            <img src="../images/clock.svg" alt="">
                            <div class="number">20h</div>
                        </div>
                    </div>
                    <button class="postuler">Postuler</button>
                </div>
            </div>
            <div class="billets">
                <!-- un billet -->
                <div class="info">
                    <div class="titre_projet">Projet UI/UX</div>
                    <div class="categorie">Design</div>
                </div>
                <div class="description_projet">Nous recherchons un UX designer pour la refonte de notre 
                    application.</div>
                <div class="end">
                    <div class="require">
                        <div class="personne">
                            <img src="../images/user.svg" alt="">
                            <div class="number">1</div>
                        </div>
                        <div class="date">
                            <img src="../images/calendar.svg" alt="">
                            <div class="number">15/06</div>
                        </div>
                        <div class="time">
                            <img src="../images/clock.svg" alt="">
                            <div class="number">20h</div>
                        </div>
                    </div>
                    <button class="postuler">Postuler</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>