<div class="quote">“Elle évite de prendre des décisions</div>
        <div class="quote end">fondées sur des informations obsolètes”</div>
        <div class="images">
            <img src="../images/Rectangle 233.png" alt="">
            <img src="../images/Rectangle 233.png" alt="">
        </div>