@font-face {
  font-family: Helvetica Neue;
  src: url("../fonts\Helvetica Neue\HelveticaNeue-Medium.otf");
}
@font-face {
  font-family: Helvetica Neue Bold;
  src: url("../fonts\Helvetica Neue\HelveticaNeue-Bold.otf");
}
@font-face {
  font-family: Helvetica Neue Thin;
  src: url("../fonts\Helvetica Neue\HelveticaNeue-Thin.otf");
}
@font-face {
  font-family: Memphis LT Pro;
  src: url("../fonts\memphis-lt-pro-cufonfonts\MemphisLTPro-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
}

/* header */

.logo {
  margin-top: 28px;
  margin-bottom: 27px;
  margin-left: 60px;
  width: 121px;
  height: 45px;

  flex-direction: row;
  align-items: flex-start;
}

.header {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_bar::placeholder {
  font-family: Helvetica Neue;
  font-size: 20px;
  margin-bottom: 8px;
}

.search_bar {
  height: 40px;
  width: 295px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 86px;
  border-radius: 15px;
  border-width: 1px;
  background-color: #f5f5f5;
  font-family: Helvetica Neue;
  font-size: 20px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 10px center;
  padding-left: 40px;
}

.search {
  height: 24px;
  width: 24px;
}

.right_side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  width: 25px;
  height: 25px;
  margin-right: 70px;
}

/* contenu */

.image {
  height: auto;
  width: 98.9vw;
}

.auteur {
  font-family: Memphis LT Pro;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5vw;
  margin-left: 5vw;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 28px;
  margin-top: 2vw;
  margin-left: 5vw;
}

.button {
  margin-right: 30vw;
}

.button img {
  height: auto;
  width: 9vw;
}

.description {
  font-family: Memphis LT Pro;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
  margin-left: 20vw;
  margin-right: 15vw;
  line-height: 2em;
  text-align: justify;
}

.section_article {
  background-color: #f5f5f5;
  padding-top: 5vw;
  padding-left: 20vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titre_article {
  font-family: Helvetica Neue;
  font-size: 28px;
}

.article {
  font-family: Memphis LT Pro;
  font-size: 18px;
  line-height: 2em;
  width: 50vw;
  text-align: justify;
  margin-top: 2vw;
  margin-left: 7vw;
  margin-bottom: 2vw;
}

.quote {
  font-family: Memphis LT Pro;
  font-size: 60px;
  font-weight: 1em;
  margin-left: 5vw;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5vw ;
}

.images {
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.images img:first-child {
  margin-left: 5vw;
}
.images img:last-child {
  margin-right: 5vw;
}

.slider_article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.bloc_auteur {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.photo_auteur {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.info_auteur {
  font-family: Helvetica Neue;
  font-size: 22px;
  margin-left: 11vw;
  padding-top: 12vh;
}

.metier_auteur {
  font-family: Helvetica Neue;
  font-size: 22px;
  margin-left: 11vw;
  margin-top: 1.5vh;
}

/* slider */

.news {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Pour aligner les éléments verticalement au centre */
  justify-content: space-between; /* Pour espacer les éléments horizontalement */
  height: 126px;
}

.titre_section {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  margin-left: 35vw;
  margin-top: 11vh;
}

.bouton {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin-right: 7vw;
  margin-top: 5vw;
  border-width: 0;
  background-color: #f5f5f5;
}

.bouton:hover {
  cursor: pointer;
}

button {
  outline: none;
}

.arrow {
  padding-left: 6px;
  height: 14px;
  width: 14px;
}

.slider {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-bottom: 8vh;
}

.left_image {
  width: 380px;
  height: 550px;
  margin-left: 0vw;
  margin-top: 7vw;
  flex-shrink: 2;
}

.right_image {
  width: 380px;
  height: 550px;
  margin-left: 6vw;
  margin-top: 7vw;
  flex-shrink: 2;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

/* voir pour faire sans position absolute et relative */

.titre_slider {
  font-family: Helvetica Neue;
  font-size: 28px;
  font-weight: bold;
  margin-left: 3vw;
  margin-bottom: 25px;
  color: white;
}

.main_image {
  margin-left: 2vw;
  margin-top: 4vw;
  width: 100%;
  height: auto;
}


/* footer */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #141414;
  padding-bottom: 5vw;
}

.logo_footer {
  min-height: 8vh;
  height: auto;
  padding-left: 4vw;
}

.grid-item {
  margin-top: 5vw;
}

.social_media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 4.5vh;
  padding-left: 1vw;
  margin-top: 2vw;
  margin-right: 2vw;
}

.catégories {
  color: #61d18a;
  font-family: Helvetica Neue;
  font-size: 15px;
}

.catégories_titre {
  color: #666666;
  margin-bottom: 2vw;
}

.link {
  margin-bottom: 1.2vw;
  cursor: pointer;
}