<div>
            <img class="image" src="../images/photo_interview.jpg" alt="" />
        </div>
        <div class="background2">
            <div class="column2">
                <div class="underblock">
                    <div class="auteur">Foguette N'Gabié, Charlotte Dollot, Gauthier Burias</div>
                    <div class="lepluslu">Le plus LU</div>
                    <div class="titre">
                        Entretien Razorfish de la DG Charlotte Dollot
                        <div class="button">
                            <img src="../images/Group 269.svg" />
                        </div>
                    </div>
                    <div class="texte">
                        Je pense que l'IA va surtout nous aider à gagner du temps. 
                        Aujourd'hui, il faut savoir prompter. C’est un outil industriel,
                        comme un autre. Cela va peut-être supplanter quelques métiers de production, 
                        mais pas les idées, pas la décision. Cela va faire monter tout le monde d'un cran. 
                    </div>
                </div>
                <div class="CTA">
                <a href="http://localhost/Yearbook/public/index.php/content"
                    <button class="Dec">Découvrir</button>
                </a>
                </div>
            </div>
        </div>
    </section>
    <section>