  <body>
    <div class="container {%if reversed_order %} reversed_order {% endif %}">
      <!-- class case permet de contenir un bloc photo sur 
      la gauche et un autre titre sur la droite -->
      <div class="case">
        <img class="image" src="../images/project_photo.jpg" alt="" />
        <div class="auteur">{{ author }}</div>
      </div>
      <!-- class case permet de contenir un bloc titre et description -->
      <div class="case">
        <div class="title">
          Terminer le semestre avec style : Un projet UX sur la mode durable !
        </div>
        <p class="textbody">
         
          Un autre projet UX d'étudiants d'HETIC s'est achevé juste avant 
          les vacances d'été. J'ai été ravie de travailler avec ces jeunes 
          créatifs, ouvrant le monde fascinant de l'habillement dans l'économie 
          circulaire avec l'aide de l'experte en mode circulaire, la fondatrice et 
          designer créative Philomène Tellaroli, et l'expert en design UX Paul Goutry.
        </p>
        <a class="CTA2" href="{{ path('content') }}">
          <div class="Dec2">Lire l'article</div>
        </a>
      </div>
    </div>
  </body>
</html>